<form method="post" action="https://subscribe.littleloaf.co/subscription/form" class="listmonk-form">
  <input type="hidden" name="nonce" />
  <input id="01007" type="hidden" name="l" checked value="01007a60-934a-435d-af8a-55a07e380b13" />
  <div>
    <h3>Want to hear from us?</h3>
    <p>
      We don't do social media around here. This is the best way to keep up with
      what we're doing. We send out weekly menus for what we'll have at the
      market as well as early notices for anything cool coming up! As always, we
      hate spam as much as you do so you'll never get it from us!
    </p>
    <p><input type="email" name="email" required placeholder="E-mail" /></p>
    <p><input class="submit" type="submit" value="Sign up" /></p>
  </div>
</form>
