<div id="winter">
    <h3>❄️ Winter Weather ❄️</h3>
    <p>Due to the affect of the winter weather on our products and lowered foot traffic at the
        market, we
        will not be attending for the time being. This is to ensure that you
        receive the highest quality baked goods possible as soon as it
        warms back up!
    </p>
    <p>Thank you so
        much for your patience and continued support! If you have any questions, don't hesitate
        to <a href="/contact">contact us</a>!</p>
</div>